<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="/estilos/style.css" />
        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
            crossorigin="anonymous"
            />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
        <link rel="stylesheet" href="assets/css/style.css">
        <script
            src="https://kit.fontawesome.com/95d9d592a6.js"
            crossorigin="anonymous"
        ></script>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />

        <title>V D P</title>
    </head>
    <body style="background-color: #e8e7e2e2">
        <header>
            <div class="imglogo"><img  src="/img/LOGO_TITULO.png"/></div>
        </header>
        <!--INICIA NAV-->
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
                <a class="navbar-brand" href="#"><strong> V D P </strong> </a>
                <button
                    class="navbar-toggler"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent"
                    aria-expanded="false"
                    aria-label="Toggle navigation"
                    >
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">                         
                            <a class="nav-link active" aria-current="page" th:href="@{/inicio}">INICIO</a>
                        </li>
                                <!-- BOTON PRODUCTOS EN VERDE SI ESTA LOGUEADO -->
                                 <li th:if="${session.usuariosession != null}" class="nav-item">
                            <a class="nav-link" th:href="@{/productoslista}" style="color: seagreen">PRODUCTOS</a>
                        </li>
                        <li th:if="${session.usuariosession == null}" class="nav-item">
                            <a class="nav-link" th:href="@{/productoslista}">PRODUCTOS</a>
                        </li> 
                        
                        <li class="nav-item" th:if="${session.usuariosession != null}">
                            <a class="nav-link" th:href="@{/usuario/editar-perfil(id=__${session.usuariosession.id}__)}" style="color: cornflowerblue">Mi cuenta</a>
                        </li>
                        <li class="nav-item">
                            <a th:if="${session.usuariosession != null}" class="nav-link active" aria-current="page" href="/logout" style="color: red">DESCONECTAR</a>
                        </li>
                        
                        <!-- con hasRole muestra solo el contenido segun el Rol -->
                        <div sec:authorize="hasRole('ROLE_ADMIN')">
                            <li class="nav-item"> <a class="nav-link active" aria-current="page" href="/admin">Administrador</a> </li>
                        </div>
                        
                        <li class="nav-item"></li>
                        <a class="nav-link active" aria-current="page" href="/contacto"
                           >CONTACTO</a
                        >
                        <li class="nav-item">
                            <a
                              th:if="${session.usuariosession != null}"
                              class="nav-link active"
                              aria-current="page"
                              href="/getCart"
                              ><span class="material-symbols-outlined">
                                shopping_cart
                              </span></a
                            >
                          </li>
                          <li class="nav-item"></li> 
                        <a th:if="${session.usuariosession != null}" th:text="${session.usuariosession.nombre}" class="nav-link active" aria-current="page" href="#"
                           ></a
                        ></li>
                        
                    </ul>
<!--                    <form class="d-flex">
                        <input
                            class="form-control me-2"
                            type="Buscar"
                            placeholder="Buscar"
                            aria-label="Buscar"
                            />
                        <button
                            class="btn btn-outline-success"
                            type="submit"
                            style="color: #9a1c1cb8"
                            >
                            <i class="fa-solid fa-magnifying-glass"> </i>
                        </button>
                    </form>-->
                </div>
            </div>
        </nav>
                </header>
        <!--FINALIZA NAV-->
<!--EMPIEZA TICKET-->
<h1 style="text-align:center; font-family: 'Times New Roman', serif;" > Detalle de la compra  </h1>
     <h6 align="center" style="color: rgb(11, 169, 103)">Compra Exitosa</h6>
        <table class="bordes">            
                <tr>
                    <th>Producto</th>
                    <th>Cantidad</th>
                    <th>Subtotal</th>
                </tr>
                <tr th:each="dorden:${cart}">
                    <td th:text="${dorden.nombre}" class="bord"></td>
                    <td th:text="${dorden.cantidad}" class="bord"></td>
                    <td th:text="${dorden.total}" class="bord"></td>
                </tr>
                <tr>
                   <td></td>
                    <td>Total:</td>
                    <td rowspan="2" th:text="${orden.total}"></td>
                </tr>
    
        </table>
        
    <style>
        .bordes{
            display: flex;
            justify-content: center;
        }
        tr,th{
            border: 1px solid black; 
        }
        .bord{
            border: 1px solid black; 
        }
    </style>
<!-- FINALIZA TICKET-->
        <!--INICIO FOOTER-->
        <div class="footer-basic">
            <footer>

                <ul class="list-inline">
                    <li th:if="${session.usuariosession == null}" class="list-inline-item"><a href="/">Inicio</a></li>
                    <li th:if="${session.usuariosession != null}" class="list-inline-item"><a href="/inicio">Inicio</a></li>
                    <li class="list-inline-item"><a href="/productoslista">Productos</a></li>
                    <li class="list-inline-item"> <div class="social"><a href="https://www.instagram.com/vdp_arg/"><i class="icon ion-social-instagram"></i></a> </div></li>
                    <li class="list-inline-item"><a href="/contacto">Contacto</a></li>
                    
                </ul>
                <p class="copyright">Verdulería del pueblo  © since 1998</p>
            </footer>
            <!--FINALIZA FOOTER-->
        </div>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>   
        <script src="js/envioSugerencias.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.bundle.min.js"></script>
</body>
</html>