<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- Protocolo open graph -->
        <meta property="og: title" content="VDP Verduleria del pueblo">
        <meta property="og: image" content="img/LOGO TITULO.png">
        <meta property="og: description" content="Somos una empresa de venta de productos agrícolas, frutas, verduras, el mejor precio y calidad">
        <meta property="og: author" content="VDP Verduleria del pueblo">
        <!-- CSS -->
        <link rel="stylesheet" href="estilos/style.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
        <link rel="stylesheet" href="assets/css/style.css">
        <!-- Bootstrap -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
        <!-- Fontawesome -->
        <script src="https://kit.fontawesome.com/95d9d592a6.js" crossorigin="anonymous"></script>
        <!-- Jquery -->
        <script src="https://cdn.lordicon.com/xdjxvujz.js"></script>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />

        <title>CONTACTO</title>
    </head>
    <body  style="background-color: #e8e7e2e2; ">
        <header>
            <div class="imglogo"><img src="img/LOGO_TITULO.png" > </div>
            <!-- INICIA NAV -->
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="container-fluid">
                    <a class="navbar-brand" href="#"><strong> V D P </strong> </a>
                    <button
                        class="navbar-toggler"
                        type="button"
                        data-bs-toggle="collapse"
                        data-bs-target="#navbarSupportedContent"
                        aria-controls="navbarSupportedContent"
                        aria-expanded="false"
                        aria-label="Toggle navigation"
                        >
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                            <li class="nav-item">
                                <a th:if="${session.usuariosession == null}" class="nav-link active" aria-current="page" th:href="@{/}">INICIO</a>
                                <a th:if="${session.usuariosession != null}" class="nav-link active" aria-current="page" th:href="@{/inicio}">INICIO</a>
                            </li>
                            <!-- BOTON PRODUCTOS EN VERDE SI ESTA LOGUEADO -->
                            <li th:if="${session.usuariosession != null}" class="nav-item">
                                <a class="nav-link" th:href="@{/productoslista}" style="color: seagreen">PRODUCTOS</a>
                            </li>
                            <li th:if="${session.usuariosession == null}" class="nav-item">
                                <a class="nav-link" th:href="@{/productoslista}">PRODUCTOS</a>
                            </li> 
                            <li th:if="${session.usuariosession == null}" class="nav-item dropdown">
                                <a
                                    class="nav-link dropdown-toggle"
                                    href="#"
                                    id="navbarDropdown"
                                    role="button"
                                    data-bs-toggle="dropdown"
                                    aria-expanded="false"
                                    >
                                    INGRESO AL SISTEMA
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="INGRESO AL SISTEMA">
                                    <li><a class="dropdown-item" href="/login">Ya soy usuario</a></li>
                                    <li>
                                        <a class="dropdown-item" href="/registro">Quiero registrarme</a>
                                    </li>
                                </ul>
                            </li>
                            <li th:if="${session.usuariosession != null}" class="nav-item">
                                <a class="nav-link" th:href="@{/usuario/editar-perfil(id=__${session.usuariosession.id}__)}" style="color: cornflowerblue">Mi cuenta</a>
                            </li>
                            <li th:if="${session.usuariosession != null}" class="nav-item">
                                <a class="nav-link active" aria-current="page" th:href="@{/logout}" style="color: red">DESCONECTAR</a>
                            </li>
                            <!-- con hasRole muestra solo el contenido segun el Rol -->
                            <div sec:authorize="hasRole('ROLE_ADMIN')">
                                <li  class="nav-item"> <a class="nav-link active" aria-current="page" href="/admin">Administrador</a> </li></div>
                            <li class="nav-item"></li>
                            <a class="nav-link active" aria-current="page" href="/contacto"
                               >CONTACTO</a
                            >
                            <li class="nav-item">
                                <a
                                  th:if="${session.usuariosession != null}"
                                  class="nav-link active"
                                  aria-current="page"
                                  href="/getCart"
                                  ><span class="material-symbols-outlined">
                                    shopping_cart
                                  </span></a
                                >
                              </li>
                              <li class="nav-item">  
                        <a th:if="${session.usuariosession != null}" th:text="${session.usuariosession.nombre}" class="nav-link active" aria-current="page" href="#"
                           ></a
                        ></li>
                        </ul>
<!--                        <form class="d-flex">
                            <input
                                class="form-control me-2"
                                type="Buscar"
                                placeholder="Buscar"
                                aria-label="Buscar"
                                />
                            <button
                                class="btn btn-outline-success"
                                type="submit"
                                style="color: #9a1c1cb8"
                                >
                                <i class="fa-solid fa-magnifying-glass"> </i>
                            </button>
                        </form>-->
                    </div>
                </div>
            </nav>
            <!--  FINALIZA NAV -->
            <!-- INICIA FORMULARIO DE SUGERENCIA/CONTACTO Bootstrap -->
            <div class="container">
            </div>
 

    <div class="sobrenosotros">
        <h1 style="text-align:center; font-family: 'Times New Roman', serif;" >Sobre nosotros</h1>
         <div style="text-align:center; font-family: 'Times New Roman', serif;">				
                <h5>Somos una familia  de programadores que además trabajamos en el rubro de las frutas & verduras hace años dedicándonos a la producción, venta mayorista, importación, exportación...</h5>
                <h5>Queremos llegar directamente a cada hogar con alimentos naturales, frescos, de primera calidad y fundamentales en una sana alimentación.</h5>
            
               <h5> Verdulería del Pueblo nos mantiene en el camino del crecimiento, con esfuerzo, trabajo y mucho amor propio por lo que hacemos.
                
               </h5>
            </div>
            <br>
            <div class="col-sm-12 text-center" style="font-family: 'Times New Roman', serif;" >
                <H2>Muchas gracias por elegirnos.<br><B>VDP </B></h2>
            </div>
            <HR width="100%" style="text-align: center">
            <h1 style="text-align:center; font-family: 'Times New Roman', serif;" >¿Cómo contactárnos?</h1>
           <h5 style="text-align:center; font-family: 'Times New Roman', serif;"> <i class="fa-brands fa-whatsapp"></i>  WhatsApp + 54 1156876544</h5> 
           <h1 style="text-align:center; font-family: 'Times New Roman', serif;" >Ubicación</h1>
           <h5 style="text-align:center; font-family: 'Times New Roman', serif;"> <i class="fa-solid fa-map-location-dot"></i> Av. Dr. Ricardo Balbín 2102, San Miguel, Provincia de Buenos Aires</h5> 
           <h1 style="text-align:center; font-family: 'Times New Roman', serif;" >Mail</h1>
           <h5 style="text-align:center; font-family: 'Times New Roman', serif;"> <i class="fa-solid fa-at"></i> info@vdp.com.ar</h5> 
   
        </div>
       <h1 style="text-align: center"> <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3286.1795888951115!2d-58.721750785274736!3d-34.54900806211136!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bcbd78f5830881%3A0x8426975c62733b06!2sVerduleria%20del%20pueblo!5e0!3m2!1ses-419!2sar!4v1652656092571!5m2!1ses-419!2sar" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>  </h1>
      
        
            <br>
            <br>
            <br>

            <!--INICIO FOOTER-->
            <div class="footer-basic">
                <footer>

                    <ul class="list-inline">
                        <li th:if="${session.usuariosession == null}" class="list-inline-item"><a href="/">Inicio</a></li>
                        <li th:if="${session.usuariosession != null}" class="list-inline-item"><a href="/inicio">Inicio</a></li>
                        <li class="list-inline-item"><a href="/productoslista">Productos</a></li>
                        <li class="list-inline-item"> <div class="social"><a href="https://www.instagram.com/vdp_arg/"><i class="icon ion-social-instagram"></i></a> </div></li>
                        <li class="list-inline-item"><a href="/contacto">Contacto</a></li>
                        
                    </ul>
                    <p class="copyright">Verdulería del pueblo  © since 1998</p>
                </footer>
                <!--FINALIZA FOOTER-->
            </div>
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>   
            <script src="js/envioSugerencias.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.bundle.min.js"></script>
    </body>


</html>