<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="resources/static/estilos/style.css">
     <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
     <script src="https://kit.fontawesome.com/95d9d592a6.js" crossorigin="anonymous"></script>
    <title>V D P</title>

</head>
<body  style="background-color: #e8e7e2e2; ">

 <header>
       <div align="center"><img src="img/LOGO TITULO.png" > </div>
        
    <nav class="navbar navbar-expand-lg navbar-light bg-light ">
        <div class="container-fluid">
          <a class="navbar-brand" href="#"><strong>  V D P </strong> </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">INICIO</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="Listado_Productos.html">PRODUCTOS</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  INGRESO AL SISTEMA
                </a>
                <ul class="dropdown-menu" aria-labelledby="INGRESO AL SISTEMA">
                  <li><a class="dropdown-item" href="#">Ya soy usuario</a></li>
                  <li><a class="dropdown-item" href="#">Quiero registrarme</a></li>
                  <a th:text="Bienvenido" th:if="${session.usuariosession != null}" th:text="${session.usuariosession.nombre+' '+session.usuariosession.apellido}"></a> 
                </ul>
              </li>
              <li class="nav-item">

              </li>
              <a class="nav-link active" aria-current="page" href="#">CONTACTO</a>
            </ul>
            <form class="d-flex">
              <input class="form-control me-2" type="Buscar" placeholder="Buscar" aria-label="Buscar">
              <button class="btn btn-outline-success" type="submit" style="color: #f0414166;">  <i class="fa-solid fa-magnifying-glass"></i></button>

            </form>
          </div>
        </div>
      </nav>





      <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img  src="resources/static/img/FONDO VERDURA.jpg"class="d-block w-100" >
            <div class="carousel-caption d-none d-md-block">
 
              <a href="Listado_Productos.html" > REALIZA TU PEDIDO</a>
            </div>
          </div>
          <div class="carousel-item">
            <img src="resources/static/img/aguacate.jpeg" class="d-block w-100 " >
            <div class="carousel-caption d-none d-md-block">
              <a href="Listado_Productos.hmtl" > REALIZA TU PEDIDO</a>
              
            </div>
          </div>
          <div class="carousel-item">
            <img src="resources/static/img/CEBOLLA.jpg" class="d-block w-100" >
            <div class="carousel-caption d-none d-md-block">
              <a href="Listado_Productos.html" > REALIZA TU PEDIDO</a>
            </div>
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>

 </header>

 <footer id="footer-area">  <!--Font type igual que navbar (aria)-->
  <li>Productos</li>
  <a href="Lista-Productos.html">Lista de Productos</a>
  <a href="Carrito.html">Mi carrito</a>
  <li>Cliente</li>
  <a href="Login.html">Conectarse</a> <!-- colocar if en caso de que ya este conectado--->
  <a href="User.html">Mis datos</a>
  <li>Nosotros</li>
  <!-- Enlaces de los mails de el equipo -->

  <div>
    <p>--Copyrigth--</p><!--Copyrigth-->
  </div>
 </footer>

 
    
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</body>
</html>